body{
    height: 100%;
    background-image: url(images/ghana.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:contain ;
    background-image:fixed;
    color: rgb(233, 231, 231);
    font-size: 40px;
    font-weight: 200;
    padding-top: 100px;
    font-family: 'Source Code Pro', monospace;
}
.header{
    display: flex;
   justify-content: space-between;
}
.head{
    padding-right: 70px;
    padding-top: 170px;
}
.header .span2{
    height: 10em;
    width: 1.5em;
    border-radius: 3em;
    background: white;
    margin: 2em;
}
.head span{
    color: #ffa500;
}
.overlay h1{
    font-size: 55px;
    font-weight: 200;
    text-align: center;
} 
.overlay p{
    padding-top: 50px;
}
.overlay{
    background: rgb(0, 0, 0, .5);
    width: 1400px;
   padding-left: 550px;
}
.form-group{
    width: 520px;
}
.overlay1{
    background: rgb(0, 0, 0, .5);
    padding-top: 218px; 
    text-align: center; 
}
.btn{
    background-color: orange;
    border: none;
}